body {
	padding-top: 70px;
	padding-bottom: 30px;
}

h1 {
	background-image: url('/static/images/glyphicons_061_keynote.png');
	background-repeat: no-repeat;
	background-position:left bottom;
	text-indent: 30px;
	height: 30px;
}


li { 
    list-style: none;
}

