{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "My Glucose Manager" %}{% endblock %}
{% block content %}
    <div class="col-md-6" id="appointment-content-form">
        <form method="post" role="form" class="form-horizontal" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
        <legend><span class="glyphicon glyphicon-calendar"></span> {% trans "Appointments" %}</legend>
        <div class="panel panel-default">
            <br/>
            <div class="form-group{% if form.appointment_types.errors %} has-error has-feedback{% endif %}">
                {% if form.appointment_types.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.appointment_types.errors }}</div>
                {% endif %}
                <label for="id_appointment_types" class="col-sm-4 control-label">{% trans "Type" %}</label>
                <div class="col-sm-4">
                {{ form.appointment_types }}
                </div>
            </div>

            <div class="form-group{% if form.title.errors %} has-error has-feedback{% endif %}">    
                {% if form.title.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.title.errors }}</div>
                <label for="id_title" class="col-sm-4 control-label">{% trans "Title" %}</label>
                <div class="col-sm-4">
                {{ form.title }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                {% else %}
                <label for="id_title" class="col-sm-4 control-label">{% trans "Title" %}</label>
                <div class="col-sm-4">
                {{ form.title }}
                </div>
                {% endif %}
            </div>

            <div class="form-group{% if form.body.errors %} has-error has-feedback{% endif %}">
                {% if form.body.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.body.errors }}</div>
                <label for="id_body" class="col-sm-4 control-label">{% trans "Body" %}</label>
                <div class="col-sm-offset-1 col-sm-10">
                {{ form.body }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                {% else %}
                <label for="id_body" class="col-sm-4 control-label">{% trans "Body" %}</label>
                <div class="col-sm-offset-1 col-sm-10">
                {{ form.body }}
                </div>            
                {% endif %}
            </div>

            <div class="form-group{% if form.recall_one_duration.errors %} has-error has-feedback{% endif %}">
                {% if form.recall_one_duration.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.recall_one_duration.errors }}</div>
                <label for="id_recall_one_duration" class="col-sm-4 control-label">{% trans "Duration: Recall one" %}</label>
                <div class="col-sm-4">
                {{ form.recall_one_duration }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>            
                </div>
                {% else %}
                <label for="id_recall_one_duration" class="col-sm-4 control-label">{% trans "Duration: Recall one" %}</label>
                <div class="col-sm-4">
                {{ form.recall_one_duration }}
                </div>
                {% endif %}            
            </div>

            <div class="form-group{% if form.recall_two_duration.errors %} has-error has-feedback{% endif %}">
                {% if form.recall_two_duration.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.recall_two_duration.errors }}</div>
                <label for="id_recall_one_duration" class="col-sm-4 control-label">{% trans "Duration: Recall two" %}</label>
                <div class="col-sm-4">
                {{ form.recall_two_duration }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>            
                </div>
                {% else %}
                <label for="id_recall_one_duration" class="col-sm-4 control-label">{% trans "Duration: Recall two" %}</label>
                <div class="col-sm-4">
                {{ form.recall_two_duration }}
                </div>
                {% endif %}               
            </div>

            <div class="form-group{% if form.recall_one_unit.errors %} has-error has-feedback{% endif %}">
                {% if form.recall_one_unit.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.recall_one_unit.errors }}</div>
                <label for="id_recall_one_unit" class="col-sm-4 control-label">{% trans "Unit: Recall one" %}</label>
                <div class="col-sm-4">
                {{ form.recall_one_unit }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>            
                </div>
                {% else %}
                <label for="id_recall_one_unit" class="col-sm-4 control-label">{% trans "Unit: Recall one" %}</label>
                <div class="col-sm-4">
                {{ form.recall_one_unit }}
                </div>
                {% endif %}            
            </div>

            <div class="form-group{% if form.recall_two_unit.errors %} has-error has-feedback{% endif %}">
                {% if form.recall_two_unit.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.recall_two_unit.errors }}</div>
                <label for="id_recall_two_unit" class="col-sm-4 control-label">{% trans "Unit: Recall two" %}</label>
                <div class="col-sm-4">
                {{ form.recall_two_unit }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>            
                </div>
                {% else %}
                <label for="id_recall_two_unit" class="col-sm-4 control-label">{% trans "Unit: Recall two" %}</label>
                <div class="col-sm-4">
                {{ form.recall_two_unit }}
                </div>
                {% endif %}            
            </div>

            <div class="form-group{% if form.id_date_appointments.errors %} has-error has-feedback{% endif %}">
                {% if form.id_date_appointments.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.id_date_appointments.errors }}</div>
                {% endif %}
                <label for="id_date_appointments" class="col-sm-4 control-label">{% trans "Date" %}</label>
                <div class="col-sm-4">              
                  {{ form.date_appointments }}
                </div>
            </div>

            <div class="form-group{% if form.id_hour_appointments.errors %} has-error has-feedback{% endif %}">
                {% if form.hour_appointments.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.hour_appointments.errors }}</div>
                {% endif %}
                <label for="id_hour_appointments" class="col-sm-4 control-label">{% trans "Hour" %}</label>
                <div class="col-sm-4">              
                  {{ form.hour_appointments }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button class="btn btn-primary">{% trans "Save" %}</button>
                </div>
            </div>
        </div>
        </fieldset>
        </form>
    </div>
    <div class="col-md-6" id="appointment-content-graph">
        <legend><span class="glyphicon glyphicon-calendar"></span> {% trans "Last appointments" %}</legend>        
        <table class="table table-striped table-hover">
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        {% for line in data %}
            <tr>
                <td>{{ line.date_appointments }}</td>
                <td>{{ line.title }}</td>
                <td><a class="btn btn-sm btn-info" role="button" href="{% url 'appointment_edit' line.id %}"><span class="glyphicon glyphicon-pencil icon-white"></span></a> <a class="btn btn-sm btn-danger" role="button"  href="{% url 'appointment_delete' line.id %}"><span class="glyphicon glyphicon-trash icon-white"></span></a></td>                
            </tr>
        {% endfor %}
        </table>

        <div class="col-md-12">
            <ul class="pagination">
                {% if data.has_previous %}
                    <li><a href="{% url 'appointments' %}?page={{ data.previous_page_number }}">{% trans "previous" %}</a></li>
                {% endif %}
                    <li class="active"><a >
                    {% blocktrans with page_number=data.number total_of_pages=data.paginator.num_pages %}
                    Page {{ page_number }} of {{ total_of_pages }}
                    {% endblocktrans %}</a>
                    </li>
                {% if data.has_next %}
                    <li><a href="{% url 'appointments' %}?page={{ data.next_page_number }}">{% trans "next" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
//<![CDATA[
$(function(){
    $('#id_date_appointments').datepicker({
            format: 'yyyy-mm-dd'
    });
});
//]]>
</script>
{% endblock %}