{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "My Glucose Manager" %}{% endblock %}
{% block content %}
    <div class="col-md-6" id="meal-content-form">
        <form method="post" role="form" class="form-horizontal" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
        <legend><span class="glyphicon glyphicon-pushpin"></span> {% trans "Examinations" %}</legend>
        <div class="panel panel-default">
            <br/>
            <div class="form-group{% if form.examination_types.errors %} has-error{% endif %}">
                {% if form.examination_types.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.examination_types.errors }}</div>
                {% endif %}
                <label for="id_examination_types" class="col-sm-2 control-label">{% trans "Type" %}</label>
                <div class="col-sm-6">
                {{ form.examination_types }}
                </div>
            </div>

            <div class="form-group{% if form.comments.errors %} has-error{% endif %}">
                {% if form.comments.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.comments.errors }}</div>
                {% endif %}
                <label for="id_comments" class="col-sm-4 control-label">{% trans "Comments" %}</label>
                <div class="col-sm-offset-1 col-sm-10">
                  {{ form.comments }}
                </div>
            </div>

            <div class="form-group{% if form.date_examinations.errors %} has-error{% endif %}">
                {% if form.date_examinations.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.date_examinations.errors }}</div>
                {% endif %}
                <label for="id_date_examinations" class="col-sm-4 control-label">{% trans "Date" %}</label>
                <div class="col-sm-4">
                  {{ form.date_examinations }}
                </div>
            </div>

            <div class="form-group{% if form.hour_examinations.errors %} has-error{% endif %}">
                {% if form.hour_examinations.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.hour_examinations.errors }}</div>
                {% endif %}
                <label for="id_hour_examinations" class="col-sm-4 control-label">{% trans "Hour" %}</label>
                <div class="col-sm-4">
                  {{ form.hour_examinations }}
                </div>
            </div>
        </div>
        </fieldset>
        <legend><span class="glyphicon glyphicon-pushpin"></span> {% trans "Examinations details" %}</legend>
            <div class="panel panel-default">
            {{ examsdetails_form.management_form }}
            <table class="table table-striped table-hover">
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Value" %}</th>
            </tr>
            {% for form in examsdetails_form %}
            <tr>
                <td>
                    <div class="form-group{% if form.title.errors %} has-error{% endif %}">
                        {% if form.title.errors %}
                        <div class="col-sm-6 alert alert-danger" role="alert">{{ form.title.errors }}</div>
                        {% endif %}
                        <div class="col-sm-4">
                          {{ form.title }}
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group{% if form.value.errors %} has-error{% endif %}">
                        {% if form.value.errors %}
                        <div class="col-sm-6 alert alert-danger" role="alert">{{ form.value.errors }}</div>
                        {% endif %}
                        <div class="col-sm-4">
                          {{ form.value }}
                        </div>
                    </div>
                </td>
            </tr>            
            {% endfor %}
            </table>
            </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </div>        
        </form>
    </div>
    <div class="col-md-6" id="exams-content-graph">
        <legend><span class="glyphicon glyphicon-pushpin"></span> {% trans "Last examinations" %}</legend>
        <table class="table table-striped table-hover">
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Comments" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        {% for line in data %}
            <tr>
                <td>{{ line.date_examinations }}</td>
                <td>{{ line.examination_types.title }}</td>
                <td>{{ line.comments }}</td>
                <td><a class="btn btn-sm btn-info" role="button" href="{% url 'exam_edit' line.id %}"><span class="glyphicon glyphicon-pencil icon-white"></span></a> <a class="btn btn-sm btn-danger" role="button"  href="{% url 'exam_delete' line.id %}"><span class="glyphicon glyphicon-trash icon-white"></span></a></td>
            </tr>
        {% endfor %}
        </table>
        <div class="col-md-12">
            <ul class="pagination">
                {% if data.has_previous %}
                    <li><a href="{% url 'exams' %}?page={{ data.previous_page_number }}">{% trans "previous" %}</a></li>
                {% endif %}
                    <li class="active"><a >
                    {% blocktrans with page_number=data.number total_of_pages=data.paginator.num_pages %}
                    Page {{ page_number }} of {{ total_of_pages }}
                    {% endblocktrans %}</a>
                    </li>
                {% if data.has_next %}
                    <li><a href="{% url 'exams' %}?page={{ data.next_page_number }}">{% trans "next" %}</a></li>
                {% endif %}
            </ul>
        </div>        
    </div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
//<![CDATA[
$(function(){
    $('#id_date_examinations').datepicker({
            format: 'yyyy-mm-dd'
    });
});
//]]>
</script>
{% endblock %}