{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "My Glucose Manager" %}{% endblock %}
{% block content %}
    <div class="col-md-6" id="exercise-content-form">
        <form method="post" role="form" class="form-horizontal" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
        <legend><span class="glyphicon glyphicon-fire"></span> {% trans "Exercises" %}</legend>
        <div class="panel panel-default">
            <br/>
            <div class="form-group{% if form.sports.errors %} has-error has-feedback{% endif %}">    
                {% if form.sports.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.sports.errors }}</div>
                <label for="id_sports" class="col-sm-4 control-label">{% trans "Sports" %}</label>
                <div class="col-sm-4">
                {{ form.sports }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                {% else %}
                <label for="id_sports" class="col-sm-4 control-label">{% trans "Sports" %}</label>
                <div class="col-sm-4">
                {{ form.sports }}
                </div>
                {% endif %}
            </div>

            <div class="form-group{% if form.duration.errors %} has-error has-feedback{% endif %}">    
                {% if form.duration.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.duration.errors }}</div>
                <label for="id_duration" class="col-sm-4 control-label">{% trans "Duration" %}</label>
                <div class="col-sm-4">
                {{ form.duration }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                {% else %}
                <label for="id_duration" class="col-sm-4 control-label">{% trans "Duration" %}</label>
                <div class="col-sm-4">
                {{ form.duration }}
                </div>
                {% endif %}
            </div>

            <div class="form-group{% if form.comment.errors %} has-error has-feedback{% endif %}">
                {% if form.comment.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.comment.errors }}</div>
                <label for="id_comment" class="col-sm-4 control-label">{% trans "Comment" %}</label>
                <div class="col-sm-offset-1 col-sm-10">
                {{ form.comment }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                {% else %}
                <label for="id_comment" class="col-sm-4 control-label">{% trans "Comment" %}</label>
                <div class="col-sm-offset-1 col-sm-10">
                {{ form.comment }}
                </div>
                {% endif %}
            </div>


            <div class="form-group{% if form.id_date_exercises.errors %} has-error has-feedback{% endif %}">
                {% if form.date_exercises.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.date_exercises.errors }}</div>
                {% endif %}
                <label for="id_date_exercises" class="col-sm-4 control-label">{% trans "Date" %}</label>
                <div class="col-sm-4">              
                  {{ form.date_exercises }}
                </div>
            </div>

            <div class="form-group{% if form.id_hour_exercises.errors %} has-error has-feedback{% endif %}">
                {% if form.id_hour_exercises.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.hour_exercises.errors }}</div>
                {% endif %}
                <label for="id_hour_exercises" class="col-sm-4 control-label">{% trans "Hour" %}</label>
                <div class="col-sm-4">              
                  {{ form.hour_exercises }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button class="btn btn-primary">{% trans "Save" %}</button>
                </div>
            </div>
        </div>
        </fieldset>     
        </form>
    </div>
    <div class="col-md-6" id="exercise-content-graph">
        <legend><span class="glyphicon glyphicon-fire"></span> {% trans "Last exercises" %}</legend>
        <table class="table table-striped table-hover">
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Sports" %}</th>                
                <th>{% trans "Duration" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        {% for line in data %}
            <tr>
                <td>{{ line.date_exercises }}</td>
                <td>{{ line.sports.title }}</td>
                <td>{{ line.duration }}</td>
                <td><a class="btn btn-sm btn-info" role="button" href="{% url 'exercise_edit' line.id %}"><span class="glyphicon glyphicon-pencil icon-white"></span></a> <a class="btn btn-sm btn-danger" role="button"  href="{% url 'exercise_delete' line.id %}"><span class="glyphicon glyphicon-trash icon-white"></span></a></td>
            </tr>
        {% endfor %}
        </table>
        <div class="col-md-12">
            <ul class="pagination">
                {% if data.has_previous %}
                    <li><a href="{% url 'exercises' %}?page={{ data.previous_page_number }}">{% trans "previous" %}</a></li>
                {% endif %}
                    <li class="active"><a >
                    {% blocktrans with page_number=data.number total_of_pages=data.paginator.num_pages %}
                    Page {{ page_number }} of {{ total_of_pages }}
                    {% endblocktrans %}</a>
                    </li>
                {% if data.has_next %}
                    <li><a href="{% url 'exercises' %}?page={{ data.next_page_number }}">{% trans "next" %}</a></li>
                {% endif %}
            </ul>
        </div>        
    </div>    
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
//<![CDATA[
$(function(){
    $('#id_date_exercises').datepicker({
            format: 'yyyy-mm-dd'
    });
});
//]]>
</script>
{% endblock %}
