{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% load dj_diabetes_extras %}
{% block title %}{% trans "My Glucose Manager" %}{% endblock %}
{% block content %}
    <div class="col-md-6" id="glucose-content-form">
        <form method="post" role="form" class="form-horizontal" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
        {% if action = 'add_glucoses' %}
        <legend>{% trans "Glucoses" %}</legend>
        {% else %}
        <legend>{% trans 'Edition of the glucose' %}</legend>
        {% endif %}
        <div class="panel panel-default">
        <br/>
        <div class="form-group">
            {{ form.glucose.errors }}
            <label for="id_glucose" class="col-sm-4 control-label">{% trans "Glucoses" %}</label>
            <div class="col-sm-4">
              {{ form.glucose }}
            </div>
        </div>
        {% if form.insulin %}
        <div class="form-group">
            {{ form.insulin.errors }}
            <label for="id_insulin" class="col-sm-4 control-label">{% trans "Insulin" %}</label>
            <div class="col-sm-4">
              {{ form.insulin }}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            {{ form.comment.errors }}
            <label for="id_comment" class="col-sm-4 control-label">{% trans "Comment" %}</label>
            <div class="col-sm-offset-1 col-sm-10">
              {{ form.comment }}
            </div>
        </div>

        <div class="form-group">
            {{ form.moment.errors }}
            <label for="id_moment" class="col-sm-4 control-label">{% trans "Moment" %}</label>
            <div class="col-sm-4">
              {{ form.moment }}
            </div>
        </div>
        
        <div class="form-group">
            {{ form.date_glucose.errors }}
            <label for="id_date_glucose" class="col-sm-4 control-label">{% trans "Date" %}</label>
            <div class="col-sm-4">
              {{ form.date_glucose }}
            </div>
        </div>

        <div class="form-group">
            {{ form.hour_glucose.errors }}
            <label for="id_hour_glucose" class="col-sm-4 control-label">{% trans "Hour" %}</label>
            <div class="col-sm-4">
              {{ form.hour_glucose }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                {% if action = 'add_glucoses' %}                
                <button class="btn btn-primary">{% trans "Add it" %}</button>
                {% else %}
                <button class="btn btn-primary">{% trans "Edit it" %}</button>
                {% endif %}
            </div>
        </div>
        </div>
        </fieldset>
        </form>
    </div>
    <div class="col-md-6" id="glucose-content-graph">
        <legend>{% trans "Last mesures" %}</legend>
        <div class="panel panel-default">
            <div class="panel-body" id="chart_panel"></div>
        </div>            
        <table class="table table-striped table-hover">
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Glucose" %}</th>
                <th>{% trans "Insulin" %}</th>
                <th>{% trans "Moment" %}</th>
                <th>{% trans "Actions" %}</th>
            <tr>
        {% for line in data %}
            <tr>
                <td>{{ line.date_glucose }} {{ line.hour_glucose }}</td>
                <td>{{ line.glucose }}</td>
                <td>{{ line.insulin }}</td>
                <td>{{ line.moment|which_value:'moment' }}</td>
                <td><a class="btn btn-sm btn-info" role="button" class="btn btn-default" href="{% url 'glucose_edit' line.id %}"><span class="glyphicon glyphicon-pencil icon-white"></span></a> <a class="btn btn-sm btn-danger" role="button"  href="{% url 'glucose_delete' line.id %}"><span class="glyphicon glyphicon-trash icon-white"></span></a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
{% block extrajs %}
<script src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script src="{% static 'js/highcharts/modules/exporting.js' %}"></script>
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
    // Glucose Average by Day chart
     var dataByDayOptions = {
        chart: {
            renderTo: 'chart_panel',
            type: 'line',
        },
        legend: {enabled: false},
        title: {text: 'Last mesures of Glucose by Day'},
        subtitle: {text: 'Last 14 Days'},
        xAxis: {title: {text: null}, labels: {rotation: -45}},
        yAxis: {title: {text: null}},
        series: [{}],
    };

    var chartDataUrl = "{% url 'chart_data_json' %}";
    $.getJSON(chartDataUrl,
        function(data) {
            dataByDayOptions.xAxis.categories = data['chart_data']['date_glucose'];
            dataByDayOptions.series[0].name = 'Avg Glucose (mg/dL)';
            dataByDayOptions.series[0].data = data['chart_data']['glucose'];
            var chart = new Highcharts.Chart(dataByDayOptions);
    });
} );
$(function(){
    $('#id_date_glucose').datepicker({
            format: 'yyyy-mm-dd'
    });
});
//]]>
</script>

{% endblock %}
