{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "My Glucose Manager" %}{% endblock %}
{% block content %}
    <div class="col-md-6" id="issue-content-form">
        <form method="post" role="form" class="form-horizontal" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
        <legend><span class="glyphicon glyphicon-question-sign"></span> {% trans "Issues" %}</legend>
        <div class="panel panel-default">
            <br/>

            <div class="form-group{% if form.question_to.errors %} has-error has-feedback{% endif %}">    
                {% if form.question_to.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.question_to.errors }}</div>
                <label for="id_question_to" class="col-sm-4 control-label">{% trans "Question to" %}</label>
                <div class="col-sm-4">
                {{ form.question_to }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                {% else %}
                <label for="id_question_to" class="col-sm-4 control-label">{% trans "Question to" %}</label>
                <div class="col-sm-4">
                {{ form.question_to }}
                </div>
                {% endif %}
            </div>


            <div class="form-group{% if form.question.errors %} has-error has-feedback{% endif %}">    
                {% if form.question.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.question.errors }}</div>
                <label for="id_question" class="col-sm-4 control-label">{% trans "Question" %}</label>
                <div class="col-sm-4">
                {{ form.question }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                {% else %}
                <label for="id_question" class="col-sm-4 control-label">{% trans "Question" %}</label>
                <div class="col-sm-offset-1 col-sm-10">
                {{ form.question }}
                </div>
                {% endif %}
            </div>

            <div class="form-group{% if form.answer.errors %} has-error has-feedback{% endif %}">    
                {% if form.answer.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.answer.errors }}</div>
                <label for="id_answer" class="col-sm-4 control-label">{% trans "Answer" %}</label>
                <div class="col-sm-4">
                {{ form.answer }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                {% else %}
                <label for="id_answer" class="col-sm-4 control-label">{% trans "Answer" %}</label>
                <div class="col-sm-offset-1 col-sm-10">
                {{ form.answer }}
                </div>
                {% endif %}
            </div>

            <div class="form-group{% if form.date_answer.errors %} has-error has-feedback{% endif %}">    
                {% if form.date_answer.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.date_answer.errors }}</div>
                <label for="id_date_answer" class="col-sm-4 control-label">{% trans "Answer Date" %}</label>
                <div class="col-sm-4">
                {{ form.date_answer }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                {% else %}
                <label for="id_date_answer" class="col-sm-4 control-label">{% trans "Answer Date" %}</label>
                <div class="col-sm-4">
                {{ form.date_answer }}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button class="btn btn-primary">{% trans "Save" %}</button>
                </div>
            </div>
        </div>
        </fieldset>     
        </form>
    </div>
    <div class="col-md-6" id="issue-content-graph">
        <legend><span class="glyphicon glyphicon-question-sign"></span> {% trans "Last questions" %}</legend>
        <table class="table table-striped table-hover">
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Question" %}</th>
                <th>{% trans "Answer" %}</th>
                <th>{% trans "Answered at" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        {% for line in data %}
            {% if line.date_answer %}
            <tr class="success">
                <td>{{ line.created }}</td>
                <td>{{ line.question }}</td>
                <td>{{ line.answer }}</td>
                <td>{{ line.date_answer }}</td>
                <td><a class="btn btn-sm btn-info" role="button" href="{% url 'issue_edit' line.id %}"><span class="glyphicon glyphicon-pencil icon-white"></span></a> <a class="btn btn-sm btn-danger" role="button"  href="{% url 'issue_delete' line.id %}"><span class="glyphicon glyphicon-trash icon-white"></span></a></td>                
            </tr>
            {% else %}
            <tr class="danger">
                <td>{{ line.created }}</td>
                <td>{{ line.question }}</td>
                <td>{{ line.answer }}</td>
                <td>{% trans "not yet answered" %}</td>
                <td><a class="btn btn-sm btn-info" role="button" href="{% url 'issue_edit' line.id %}"><span class="glyphicon glyphicon-pencil icon-white"></span></a> <a class="btn btn-sm btn-danger" role="button"  href="{% url 'issue_delete' line.id %}"><span class="glyphicon glyphicon-trash icon-white"></span></a></td>
            </tr>            
            {% endif %}
        {% endfor %}
        </table>
        <div class="col-md-12">
            <ul class="pagination">
                {% if data.has_previous %}
                    <li><a href="{% url 'issues' %}?page={{ data.previous_page_number }}">{% trans "previous" %}</a></li>
                {% endif %}
                    <li class="active"><a >
                    {% blocktrans with page_number=data.number total_of_pages=data.paginator.num_pages %}
                    Page {{ page_number }} of {{ total_of_pages }}
                    {% endblocktrans %}</a>
                    </li>
                {% if data.has_next %}
                    <li><a href="{% url 'issues' %}?page={{ data.next_page_number }}">{% trans "next" %}</a></li>
                {% endif %}
            </ul>
        </div>        
    </div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
//<![CDATA[
$(function(){
    $('#id_date_answer').datepicker({
            format: 'yyyy-mm-dd'
    });
});
//]]>
</script>
{% endblock %}
