{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}{% trans "My Glucose Manager" %}{% endblock %}
{% block content %}
    <div class="col-md-6" id="meal-content-form">
        <form method="post" role="form" class="form-horizontal" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
        {% if action = 'add_meal' %}
        <legend>{% trans "Meal" %}</legend>
        {% else %}
        <legend>{% trans 'Edition of the meal' %}</legend>
        {% endif %}
          <div class="form-group">
            {{ form.food.errors }}          
            <label for="id_food" class="col-sm-4 control-label">{% trans "Food" %}</label>            
            <div class="col-sm-4">
              {{ form.food }}
            </div>
          </div>
          <div class="form-group">
            {{ form.breakfast_lunch_diner.errors }}          
            <label for="id_breakfast_lunch_diner" class="col-sm-4 control-label">{% trans "Moment ?" %}</label>            
            <div class="col-sm-4">
              {{ form.breakfast_lunch_diner }}
            </div>
          </div>
          <div class="form-group">
            {{ form.meal_date.errors }}
            <label for="id_meal_date" class="col-sm-4 control-label">{% trans "Date" %}</label>
            <div class="col-sm-4">              
              {{ form.meal_date }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                {% if action = 'add_meal' %}                
                <button class="btn btn-primary">{% trans "Add it" %}</button>
                {% else %}
                <button class="btn btn-primary">{% trans "Edit it" %}</button>
                {% endif %}
            </div>
          </div>

        </fieldset>     
        </form>
    </div>
    <div class="col-md-6" id="meal-content-graph">
        <legend>{% trans "Last meals" %}</legend>
        <table class="table table-striped table-hover">
            <tr>
                <th>{% trans "Food" %}</th>
                <th>{% trans "Moment" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Actions" %}</th>
            <tr>
        {% for line in data %}
            <tr>
                <td>{{ line.food }}</td>
                <td>{% if line.breakfast_lunch_diner == 1 %}{% trans "Breakfast" %}{% elif line.breakfast_lunch_diner == 1 %}{% trans "Lunch"%}{% else %}{% trans "Diner" %}{% endif %}</td>
                <td>{{ line.meal_date }}</td>
                <td><a class="btn btn-sm btn-info" role="button" class="btn btn-default" href="{% url 'meal_edit' line.id %}"><span class="glyphicon glyphicon-pencil icon-white"></span></a> <a class="btn btn-sm btn-danger" role="button"  href="{% url 'meal_delete' line.id %}"><span class="glyphicon glyphicon-trash icon-white"></span></a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}